@{
    ViewData["Title"] = "HOME HOME Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the Welcoming Page</p>
</div>
<div class="container text-center mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="p-4 bg-light">
                <p>Superman is almost invulnerable (most things cannot hurt him). He is strong enough to
                    lift almost anything and he can fly. Superman can also run and move faster than 
                    a bullet. He has X-ray vision (he can see through walls, he is not able to see through
                    lead), and heat vision (shooting heat from his eyes).He is almost invulnerable (most things
                    cannot hurt him). He is strong enough to lift almost anything and he can fly. Superman can 
                    also run and move faster than a bullet. He has X-ray vision (he can see through walls,
                    he is not able to see through lead), and heat vision (shooting heat from his eyes).
                </p>
             </div>
        </div>
        <div class="col-md-6">
            <div class="p-4 bg-light">
                <img src="~/images/superman.jpg" alt="Example Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>